:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-code-block-bg: #f9fafb;
  --vp-layout-max-width: 1600px;
}

.demo-block .meta {
  background-color: var(--vp-code-block-bg);
}

html.dark {
  --vp-code-block-bg: var(--vp-c-bg-alt);
}

.demo-block._components_button  .xs-button {
  margin: 0 10px 10px 0;
}



.VPDoc.has-aside .content-container {
  max-width: 900px !important;
}


/**
  * Table
  * -------------------------------------------------------------------------- */

.demo-table table {
  display: block;
  border-collapse: separate;
  margin: unset;
  overflow-x: unset;
}

.demo-table tr {
  border-top: unset;
  transition: unset;
}

.demo-table tr:nth-child(2n) {
  background-color: unset;
}

.demo-table th,
.demo-table td {
  border: initial;
  padding: initial;
}

.demo-table th {
  font-size: unset;
  font-weight: unset;
  background-color: unset;
}

.dark .demo-table th {
  background-color: unset;
}


.demo-table ul,
.demo-table ol {
  padding-left: unset;
  margin: unset;
}