@use 'mixins/mixins.scss' as *;
@use 'mixins/utils.scss' as *;
@use 'common/var.scss' as *;
@use 'mixins/button' as *;
@use 'mixins/var' as *;
@use 'mixins/function.scss' as *;
@use 'sass:map';

@include b(button) {
  @include set-component-css-var('button', $button);
}

@include b(button) {
  display: inline-block;
  margin: 0;
  font-weight: getCssVar('button', 'font-weight');
  line-height: 1;
  color: getCssVar('button', 'text-color');
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: getCssVar('button', 'bg-color');
  border: getCssVar('border');
  border-color: getCssVar('button', 'border-color');
  outline: none;
  box-sizing: border-box;
  transition: 0.1s;
  appearance: none;
  user-select: none;

  & + & {
    margin-left: 10px;
  }

  @include button-size(
    map.get($button-padding-vertical, 'default'),
    map.get($button-padding-horizontal, 'default'),
    map.get($button-font-size, 'default'),
    map.get($button-border-radius, 'default')
  );

  &:hover,
  &:focus {
    color: getCssVar('color-primary');
    background-color: getCssVar('color-primary-light-9');
    border-color: getCssVar('color-primary-light-7');
  }

  &:active {
    color: getCssVar('button', 'active-text-color');
    border-color: getCssVar('button', 'active-border-color');
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*='#{$namespace}-icon-'] {
    & + span {
      margin-left: 5px;
    }

    svg {
      vertical-align: bottom;
    }
  }

  /* size */

  @include m(small) {
    @include button-size(
      map.get($button-padding-vertical, 'small'),
      map.get($button-padding-horizontal, 'small'),
      map.get($button-font-size, 'small'),
      map.get($button-border-radius, 'small')
    );
    @include when(circle) {
      padding: $button-small-padding-vertical;
    }
  }

  @include m(large) {
    @include button-size(
      map.get($button-padding-vertical, 'large'),
      map.get($button-padding-horizontal, 'large'),
      map.get($button-font-size, 'large'),
      map.get($button-border-radius, 'large')
    );

    @include when(circle) {
      padding: $button-large-padding-vertical;
    }
  }

  /* other */
  @include when(plain) {
    @include css-var-from-global(('button', 'hover', 'text-color'), ('color', 'primary'));
    @include css-var-from-global(('button', 'hover', 'bg-color'), ('fill-color', 'blank'));
    @include css-var-from-global(('button', 'hover', 'border-color'), ('color', 'primary'));
  }

  /* type */
  @include m(primary) {
    @include button-variant($button-primary-font-color, $button-primary-background-color, $button-primary-border-color);
  }
  @include m(success) {
    @include button-variant($button-success-font-color, $button-success-background-color, $button-success-border-color);
  }
  @include m(warning) {
    @include button-variant($button-warning-font-color, $button-warning-background-color, $button-warning-border-color);
  }
  @include m(danger) {
    @include button-variant($button-danger-font-color, $button-danger-background-color, $button-danger-border-color);
  }
  @include m(info) {
    @include button-variant($button-info-font-color, $button-info-background-color, $button-info-border-color);
  }

  @include when(active) {
    color: mix($color-black, $color-primary, $button-active-shade-percent);
    border-color: mix($color-black, $color-primary, $button-active-shade-percent);
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $button-disabled-font-color;
      cursor: not-allowed;
      background-color: $button-disabled-background-color;
      background-image: none;
      border-color: $button-disabled-border-color;
    }

    &.el-button--text {
      background-color: transparent;
    }

    &.is-plain {
      &,
      &:hover,
      &:focus {
        color: $button-disabled-font-color;
        background-color: $color-white;
        border-color: $button-disabled-border-color;
      }
    }
  }

  /* text */
  @include m(text) {
    padding-right: 0;
    padding-left: 0;
    color: $color-primary;
    background: transparent;
    border-color: transparent;

    &:hover,
    &:focus {
      color: mix($color-white, $color-primary, $button-hover-tint-percent);
      background-color: transparent;
      border-color: transparent;
    }

    &:active {
      color: mix($color-black, $color-primary, $button-active-shade-percent);
      background-color: transparent;
      border-color: transparent;
    }

    &.is-disabled,
    &.is-disabled:hover,
    &.is-disabled:focus {
      border-color: transparent;
    }
  }

  @include when(loading) {
    position: relative;
    pointer-events: none;

    &::before {
      position: absolute;
      top: -1px;
      right: -1px;
      bottom: -1px;
      left: -1px;
      pointer-events: none;
      background-color: rgb(255 255 255 / 35%);
      border-radius: inherit;
      content: '';
    }
  }
  @include when(round) {
    border-radius: 20px;
  }
  @include when(circle) {
    // padding: $button-padding-vertical;
    border-radius: 50%;
  }
}
