@use 'sass:map';
@use 'mixins/function.scss' as *;
@use 'mixins/mixins' as *;
@use 'common/var' as *;

@include b(goods) {
  display: flex;
  align-items: center;
  justify-content: center;

  & + & {
    margin-left: 16px;
  }

  @include e(image) {
    width: 40px;
    margin-right: 8px;
    flex: 0 0 var(--el-avatar-size);

    --el-avatar-border-radius: 0;
  }

  @include e(content) {
    flex: 1;
    width: 0;

    --xs-goods-color: #{getCssVar('color-primary')};

    color: var(--xs-goods-color);
  }

  @include e(link) {
    font-size: 14px;
    text-decoration: none;
    flex: 1;

    &[linkable='false'] {
      color: getCssVar('color-black');
      cursor: pointer;
    }

    &:not([linkable='false']) {
      &:link,
      &:visited,
      &:hover,
      &:active {
        color: var(--xs-goods-color);
      }
    }
  }

  .text-popup {
    position: absolute;
    z-index: 99;
    color: var(--xs-primary-color);
    white-space: nowrap;
    animation: text-popup 1s;
    user-select: none;
  }
  @keyframes text-popup {
    0% {
      opacity: 0;
    }

    5% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }
}
